<div class="row">
  <div *ngIf="info" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="{{ info.fotoPerfil }}" class="img-fluid" id="fotoPerfil" />
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div *ngIf="info">
      <h1>{{ info.nombre }} {{ info.apellido }}</h1>
    </div>
    <div *ngIf="info">
      <h3>{{ info.titulo }}</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <span>
        <div *ngIf="info">
          <h1>Acerca de Mi</h1>
          <p>{{ info.descripcion }}</p>
        </div>
      </span>
    </div>
  </div>
