<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/FotoPerfil.jpg"
      class="img-fluid"
      id="fotoPerfil"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <div *ngIf="Info">{{ Info.nombre }}{{ Info.apellido }}</div>
    <p>Full Stack Developer</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de Mi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error autem
        praesentium nostrum, commodi inventore laboriosam ad! Repellat et fugit
        tempora porro unde. Architecto ullam, voluptatum dicta voluptate quam
        laboriosam hic.
      </p>
    </span>
  </div>
</div>
