<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>educacion 1</h2><h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, deleniti earum repellat unde recusandae dicta provident laboriosam dolores corrupti facilis, voluptatibus nihil velit fugit aliquam at porro nisi sunt accusamus.</p>
                <h2>educacion 2</h2><h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eveniet provident exercitationem iusto, labore alias commodi voluptas placeat odit, praesentium voluptatem esse, voluptatum quam repellendus quasi debitis quia doloribus cumque.</p>
            </li>
        </ul>
    </div>
</div>
